<form action="/words" method="post" id="word_search_form">
  <input type="text" name="q" value="<%= params[:q] %>" id="word_q" autocomplete="off" placeholder="Søgeord / Search term">
  <button type="submit">Søg</button>
</form>
<div id="results"></div>
