<form action="/words" method="post" id="word_search_form">
  <input type="text" name="q" value="" id="word_q" autocomplete="off" placeholder="Søgeord / Search term (da-en &amp; en-da)" autocapitalize="off">
  <button type="submit">Søg</button>
</form>
<div id="results"></div>
