*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.25;
}

#word_q {
  width: 100%;
  outline: none;
  border: none;
  font-size: 40px;
  padding: 10px;
  position: fixed;
}

#word_search_form button {
  display: none;
}

#results {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  color: #222;
  -webkit-overflow-scrolling: touch;
}

#results ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#results li {
  position: relative;
  padding: 10px;
}

#results li:nth-child(odd) {
  background: #ddd;
}

#results h2 {
  font-size: 18px;
  margin: 0;
}

#results h2:after {
  background: #999;
  color: #fff;
  border-radius: 3px;
  display: block;
  padding: 2px 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
}

#results li.en h2:after {
  content: 'en';
}
#results li.da h2:after {
  content: 'da';
}

#results p {
  margin: 0;
}
